@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Montserrat;
  src: url("../../../fonts/Montserrat.ttf");
}
:root {
  font-size: 16px;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  color: #222424;
}

html {
  height: 100%;
}

body {
  width: 100vw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  position: relative;
  background: rgb(255, 32, 108);
  background: -moz-linear-gradient(
    20deg,
    rgba(255, 32, 108, 1) 0%,
    rgba(255, 127, 88, 1) 87%
  );
  background: -webkit-linear-gradient(
    20deg,
    rgba(255, 32, 108, 1) 0%,
    rgba(255, 127, 88, 1) 87%
  );
  background: linear-gradient(
    20deg,
    rgba(255, 32, 108, 1) 0%,
    rgba(255, 127, 88, 1) 87%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff206c",endColorstr="#ff7f58",GradientType=1);
}

#app {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

input:not(input[type="checkbox"], input[type="range"], input[type="radio"]),
textarea,
select,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0px;
}

/* TRANSITIONS */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.pop-up-enter-active {
  animation: pop-up 0.5s;
}
.pop-up-leave-active {
  animation: pop-up 0.5s reverse;
}
@keyframes pop-up {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.pop-up-fast-enter-active {
  animation: pop-up 0.2s;
}
.pop-up-fast-leave-active {
  animation: pop-up 0.2s reverse;
}
@keyframes pop-up {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.slide-from-bottom-enter-active {
  transition: all 0.3s ease-out;
}

.slide-from-bottom-leave-active {
  transition: all 0.3s ease-in;
}

.slide-from-bottom-enter-from,
.slide-from-bottom-leave-to {
  transform: translateY(100%);
}

/**/

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
}

::-webkit-scrollbar-track:hover {
  background: #d1d1d1;
}

::-webkit-scrollbar-thumb {
  background: #707070;
}

::-webkit-scrollbar-thumb:hover {
  background: #616161;
}
